.todo-filter-container {
  display: flex;
  margin: 15px 0;
}

.todo-filter {
  display: flex;
  width: 100%;
  justify-content: start;
}

.todo-filter-item {
  padding-left: 10px;
  cursor: pointer;
  color: #4a77e5;
  text-decoration: underline;

  &.active {
    cursor: default;
    color: inherit;
    text-decoration: none;
  }
}